.transaction-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .transaction-table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .transaction-table th,
  .transaction-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .transaction-table th {
    background-color: #f2f2f2;
  }
  